.dfillinfo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 90vh;
}

.dfillinfo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(169, 169, 169);
    padding: 10px;
    width: 50%;
    min-width: 320px;
    max-width: 460px;
}

.dfillinfo-label{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

hr {
    width: 100%;
    border: 1 solid black;
    border-radius: 5px;
  }