.pfillinfo-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
}

.pfillinfo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-width: 320px;
    max-width: 540px;
}

.pfillinfo-button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* 
.pfillinfo-label{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}
*/
hr {
    width: 100%;
    border: 1 solid black;
    border-radius: 5px;
}