.pfillinfo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.pfillinfo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(169, 169, 169);
    padding: 10px;
    width: 50%;
    min-width: 320px;
    max-width: 460px;
}

.pfillinfo-change-role{
    display: flex;
    width: 50%;
    min-width: 320px;
    max-width: 460px;
    justify-content: flex-end;
    cursor: pointer;
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    margin-bottom: 10px;
}

.pfillinfo-label{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

hr {
    width: 100%;
    border: 1 solid black;
    border-radius: 5px;
  }